<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>244</integer>
			<key>green</key>
			<integer>189</integer>
			<key>blue</key>
			<integer>31</integer>
		</dict>
		<key>mark</key>
		<string>Lambo</string>
		<key>model</key>
		<string>Huracan</string>
		<key>lastStarted</key>
		<date>2021-03-11T15:15:44Z</date>
		<key>imageName</key>
		<string>lambo.png</string>
		<key>timesDriven</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>4</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>184</integer>
			<key>green</key>
			<integer>11</integer>
			<key>blue</key>
			<integer>5</integer>
		</dict>
		<key>mark</key>
		<string>Ferrari</string>
		<key>model</key>
		<string>Enzo</string>
		<key>lastStarted</key>
		<date>2020-02-08T15:15:44Z</date>
		<key>imageName</key>
		<string>ferrari.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>3</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>153</integer>
			<key>green</key>
			<integer>154</integer>
			<key>blue</key>
			<integer>154</integer>
		</dict>
		<key>mark</key>
		<string>Merc</string>
		<key>model</key>
		<string>C300</string>
		<key>lastStarted</key>
		<date>2022-01-15T15:15:44Z</date>
		<key>imageName</key>
		<string>mercedes.png</string>
		<key>timesDriven</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>2</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>67</integer>
			<key>green</key>
			<integer>92</integer>
			<key>blue</key>
			<integer>156</integer>
		</dict>
		<key>mark</key>
		<string>Nissan</string>
		<key>model</key>
		<string>Versa</string>
		<key>lastStarted</key>
		<date>2019-05-25T15:15:44Z</date>
		<key>imageName</key>
		<string>nissan.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>1</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>90</integer>
			<key>green</key>
			<integer>175</integer>
			<key>blue</key>
			<integer>218</integer>
		</dict>
		<key>mark</key>
		<string>BMW</string>
		<key>model</key>
		<string>X6</string>
		<key>lastStarted</key>
		<date>2021-04-17T15:15:44Z</date>
		<key>imageName</key>
		<string>bmw.png</string>
		<key>timesDriven</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
